.movieCard{
    width: 280px;
    padding: 5px;
    margin: 5px;
    border: solid 5px rgb(3, 156, 3);
}

.movieCard, .movieCard-text{
    background-color: rgb(97, 97, 97);
}

.movieCard:hover{
    border-color: aqua;
}