.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.507);
}

.modal-inside{
    background-color: rgb(63, 63, 63);
    border: solid 5px gold;
    width: fit-content;
    margin: auto;
    min-height: 100vh;
}