.title{
    font-size: 25px;
    background-color: blue;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    padding: 5px;
}

.title:hover{
    cursor: pointer;
    background-color: brown;
}