.form{
    width: 280px;
    padding: 5px;
    border: solid 5px rgb(133, 156, 3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-input{
    background-color: aliceblue;
    font-size: 15px;
    color: black;
    padding: 2px;
    margin: 5px;
}

.form-label{
    font-size: 15px;
    color: white;
    padding: 2px;
    margin: 2px;
    text-align: left;
}